<header>
  <!-- Fixed navbar -->
  <style>
    button {
      float: right;
    }
  </style>
  <nav class="navbar navbar-expand-md fixed-top" style="color: #023c67; background-color: #023c67;">
    {% comment %} <div class="container-fluid"> {% endcomment %}
      <a class="navbar-brand" href="{% url 'home' %}" style="padding-left: 30px; color:#fff;"><b>HOME</b></a>
      {% comment %} <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning btn-sm" type="submit">Search</button>
      </form> {% endcomment %}
      {% comment %}
    </div> {% endcomment %}
    </div>
  </nav>
</header>